#container {
  height: calc(100vh - 100px);
  background-color: #d1411e;
  overflow: hidden;
  padding-bottom: 2rem;

  @media screen and(max-width:480px) {
    height: 50vh;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff !important;
}
