.container {
  height: 100px;
  padding: 0 20px;
  background-color: #d1411e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;

  .item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item:nth-child(1) {
    @media screen and(max-width:480px) {
      flex: 3;
    }
  }

  .item:nth-child(2) {
    flex: 3;

    @media screen and(max-width:480px) {
      display: none;
    }
  }

  .callButton {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  .texts {
    margin-left: 20px;
    color: #fff;
  }

  .text:first-child {
    font-size: 12px;
    font-weight: 500;
  }

  .text:last-child {
    font-size: 20px;
    font-weight: bold;
  }

  .list {
    padding: 0;
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      padding: 0 10px !important;
    }

    .listItem {
      margin: 20px;
      font-weight: 500;
    }
  }

  .miniCart {
    position: relative;
    .counter {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: bold;
      background-color: #fff;
      color: #d1411e;
    }
  }
}
